.btn
.inline
img
 vertical-align middle
.btn
.disabled
.icon
.unselect
  -webkit-user-select none
  -ms-user-select none
  -moz-user-select none
blockquote,html,body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul
  margin 0
  padding 0
  -webkit-tap-highlight-color rgba(0,0,0,0)
a
  -webkit-tap-highlight-color:rgba(0,0,0,0)
  &.active
  &:hover
    outline 0
img
  display inline-block
  border none

li
  list-style none
table
  border-collapse inherit
  border-spacing 0

button,input,optgroup,option,select,textarea
  font-family inherit
  font-size inherit
  font-style inherit
  font-weight inherit
  outline 0

pre
  white-space pre-wrap
  white-space -moz-pre-wrap
  white-space -pre-wrap
  white-space -o-pre-wrap
  word-wrap break-word

html,body
  width 100%
  height 100%
  min-height 100%
  line-height 24px
  font 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif
#app
  height 100%
hr
  height 1px
  margin 10px 0
  border 0
  background-color #e2e2e2
  clear both

a
  color #409eff
  text-decoration none

a hover
  color #777

a cite
  font-style normal
  cursor pointer

.border-box,.border-box *
  box-sizing border-box

.box
.box *
  box-sizing content-box
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
/*为了兼容IE6*/
.clearfix{zoom:1}

.clear
  clear both
  zoom 1

.clear after
  content '\20'
  clear both
  zoom 1
  display block
  height 0
.inline
  position relative
  //display inline-block
  display inline
  zoom 1
.edge
  position absolute
  width 0 height 0
  border-style dashed
  border-color transparent
  overflow hidden
.elip
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

.disabled
.disabled hover
  color #d2d2d2!important
  cursor not-allowed!important
.circle
  border-radius 100%
.show
  display block!important
.hide
  display none!important

.red
  color #f00
  &:hover
    color #f00
.green
  color #67C23A
.blue
  color #1E9FFF

.mt20
  margin-top 20px
.mb20
  margin-bottom 20px

.mbt20
  margin 20px 0!important

.mt10
  margin-top 10px
.mb10
  margin-bottom 10px
.tl
  text-align left
.tr
  text-align right

.fl
  float left
.fr
  float right

.danger
  color #f56c6c!important
.safe
  color #67c23a!important
.table-wrap
  overflow auto

table
  th
    font-weight normal
  &.chapter-list
    border 1px solid #ebeef5
    border-left 0
    border-bottom 0
    text-align center
    tr
      td,th
        padding 12px 8px
        border-bottom 1px solid #ebeef5
        border-left 1px solid #ebeef5
.avatar-upload-wrap
  .el-dialog
    width 80%
    max-width 640px
    position absolute!important
    left 50%
    top 50%
    transform translate(-50%,-50%)!important

.el-dialog
  margin-top 50vh!important
  transform translateY(-50%)!important
//弹窗提交表单样式
.alertDialog
  .el-dialog
    width 80%!important
    max-width 400px!important
  .el-form
    .el-form-item
      &:last-child
        margin-bottom 0
.book-intro
  height 300px
  >textarea
    height 100%
span
  &.success
    background-color: #87b87f
    color #fff
    padding 5px
  &.primary
    background-color #c8c9cc
    color #fff
    padding 5px
.mw60
  max-width 60px
.mw-auto
   width auto!important
   max-height 150px
   max-width 100%!important
.mw320
  max-width 320px

.mw220
  max-width 220px


.demo-table-expand
  font-size: 0;
  label
    width: 90px;
    color: #99a9bf;
  .el-form-item
    margin-right: 0!important;
    margin-bottom: 0;
    width: 50%;


//图片上传弹窗 图片样式
.upload-recommend
  text-align right
.el-dialog
  .cover-preview
    text-align center
    margin-bottom 20px
    img
      max-width 100%
      margin 0 auto
    .l-icon-zoom-in
      font-size 24px

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover
  background-color #ddd!important
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover
  background-color #ddd!important

.el-message__closeBtn
  position relative!important
  right 0!important
  transform none!important
  margin-left 5px
.input-with-select
  .el-input
      width 100px
.el-popper[x-placement^=bottom]
  .popper__arrow
    left 60%!important



//编辑章节、新增章节 公共样式

.chapter-ruleForm
  .el-form-item
    &:last-child
      .el-form-item__content
        margin-left :136px
        button
          width :250px
          height :54px
          border-radius :40px
        .save-draft
          color:rgb(255,156,35)
          border:1px solid rgb(255,156,35)
    span.words
      position absolute
      right 20px
      bottom:-24px
      margin-right: 50px
      font-size 14px
      line-height 1
  .contentBox
    .authorSay-wrap
      border 1px solid #d9bfbf
      border-radius 0 0 7px 7px
      border-top none
      height 90px
      >textarea
        text-indent 2em
        width 100%
        height 100%
        border-radius 7px
        font-size 16px
        border none
        resize none
        color #666
  .el-form-item__content
    position relative
    .el-textarea.context
      position relative
      border 1px solid rgb(217, 191, 191)
      overflow hidden
      border-radius 7px 7px 0 0
      textarea
        height 602px
        border-bottom-left-radius 0
        border-bottom-right-radius 0
        text-indent 2em
        padding 15px
        border none
    .iframe-wrap
      width 100%
      resize none
      height 602px
      border 1px solid
      line-height :1.8
      text-indent 2em
      border-color rgb(217, 191, 191)
      font-size 16px
      border-radius 7px 7px 0 0

.el-dropdown
  .el-dropdown-link
      cursor pointer


.el-table
  img
    width 100%
  td
    .cell
        img
          max-width 60px
  table
    table-layout auto!important
    width 100%!important


table
  td
    a
      &.btn
          padding 6px 10px
          cursor pointer
  .el-checkbox
    margin-right 0!important
  div.context
    overflow-y auto
    max-height 200px
.el-checkbox
  margin-left 0!important
  margin-right 30px

.el-form
  >.el-form-item
      &.submit-item
        text-align right
      &:last-child
         margin-bottom 0
.dialog-submit-form
  .el-form
    .el-select
      width 100%;
.el-table__empty-block
  width 100%!important



.fitler-search
  .el-radio-group
    .el-radio-button
      margin-right 10px
      .el-radio-button__inner
        border none
      &.is-active
        .el-radio-button__inner
          background #fff
          color: #01AAED
          box-shadow none


.el-message[role='alert']
  font-size 20px
  top 50%!important
  min-width auto
  transform translate(-50%,-50%)!important
  .el-message__content
     font-size 16px
.el-alert[role='alert']
  .el-alert__content
    font-size 15px
  .el-alert__title
    font-size 16px

.el-loading-mask
  background rgba(0, 0, 0, 0.7)!important

.el-breadcrumb
  .el-breadcrumb__item
  .el-breadcrumb__inner
    padding 15px 0
